@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    background-color: linear-gradient(red, yellow);
}

/* Quick Move
/* .nav-container {
    display: flex;
    justify-content: space-between;
} */

/* .login-container {
    display: flex;
    justify-content: space-between;
} */